{% extends 'base.html.twig' %}
{% block nav %}{% endblock %}
{% block title %}Registro{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Security/register.css') }}">
{% endblock %}

{% block body %}

    <div class="form-wrapper">
        <h1>Crear cuenta</h1>
        <p class="subtitle">Únete y empieza a organizar tus tareas</p>

        {{ form_start(registerForm, { action: path('app_register'), method: 'POST' }) }}
        <div class="form-group">
            {{ form_label(registerForm.username) }}
            {{ form_widget(registerForm.username) }}
        </div>
        <div class="form-group">
            {{ form_label(registerForm.password) }}
            {{ form_widget(registerForm.password) }}
        </div>

        <button type="submit" class="btn">Crear cuenta</button>
        {{ form_end(registerForm) }}

        <div class="form-footer">
            ¿Ya tienes cuenta? <a href="{{ path('app_login') }}">Inicia sesión</a>
        </div>
    </div>

{% endblock %}
