{% extends 'base.html.twig' %}
{% block nav %}{% endblock %}
{% block title %}Crear Tarea{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Todo/createTodo.css') }}">
{% endblock %}

{% block body %}
    <div class="page-wrapper">

        <div class="page-header">
            <h1>Nueva tarea</h1>
            <p class="subtitle">Añade los detalles de tu tarea</p>
        </div>

        <div class="form-wrapper">
            {{ form_start(createTodoForm, { action: path('app_todo_create'), method: 'POST' }) }}
            <div class="form-group">
                {{ form_label(createTodoForm.title) }}
                {{ form_widget(createTodoForm.title) }}
            </div>
            <div class="form-group">
                {{ form_label(createTodoForm.description) }}
                {{ form_widget(createTodoForm.description) }}
            </div>
            <div class="actions">
                <a href="{{ path('app_list') }}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn">Crear tarea</button>
            </div>
            {{ form_end(createTodoForm) }}
        </div>

    </div>
{% endblock %}
