{% extends 'base.html.twig' %}
{% block nav %}{% endblock %}
{% block title %}Editar Tarea{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Todo/editTodo.css') }}">
{% endblock %}

{% block body %}
    <div class="page-wrapper">

        <div class="page-header">
            <h1>Editar tarea</h1>
            <p class="subtitle">Modifica los detalles de tu tarea</p>
        </div>

        <div class="form-wrapper">
            {{ form_start(editTodoForm, { action: path('app_todo_edit', {id: todo.id}), method: 'POST' }) }}
            <div class="form-group">
                {{ form_label(editTodoForm.title) }}
                {{ form_widget(editTodoForm.title) }}
            </div>
            <div class="form-group">
                {{ form_label(editTodoForm.description) }}
                {{ form_widget(editTodoForm.description) }}
            </div>
            <div class="actions">
                <a href="{{ path('app_list') }}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn">Guardar cambios</button>
            </div>
            {{ form_end(editTodoForm) }}
        </div>

    </div>
{% endblock %}
